<div th:replace="~{ app :: layout ('首页', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">
    <div id="main">
        <div class="site-info text-center">
            <h1 class="site-title animate__animated animate__delay-4s animate__swing">等你很久了</h1>
            <div id="typed-strings">
                <p class="site-subtitle lead text-muted">欢迎光临，这里收集了零散的所思所想，以及可以直接使用的小资源。</p>
            </div>
            <span class="site-subtitle lead text-muted" id="typed"></span>
        </div>

        <div class="features mt-2rem mb-2rem">
            <div class="feature">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 text-center text-lg-left align-self-center">
                            <h3 class="feature-title">博客</h3>
                            <p class="lead text-muted">零散的所思所想，便于沉淀</p>
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <div class="text-center" data-aos="zoom-in">
                                <img class="img-fluid shadow" th:src="@{/img/about/posts.png}" alt="posts">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 text-center text-lg-right order-1 order-lg-2 align-self-center">
                            <h3 class="feature-title">资源</h3>
                            <p class="lead text-muted">可以直接使用的小资源，便于学习</p>
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0 order-2 order-lg-1">
                            <div class="text-center" data-aos="zoom-in">
                                <img class="img-fluid shadow" th:src="@{/img/about/resources.png}" alt="resources">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>